/*The Design was created by cssauthor.com */
/*Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

/*  webfonts
/* =================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .5s ease-in-out;
}

header{
  width:100%;
  height:83px;
  background: white;
}
.container{
max-width: 1024px;
width:100%;
margin: 0 auto;
}

ul {list-style: none;}

a {text-decoration: none;}

/*  top-menu
/* =================================================================== */
.top-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  background: white;
}
/* logo */
.logo{
  font-family: 'Lobster', cursive;
  color: #3cc3b5;
  font-size: 46px;
}

/* form */
form{
  display: inline-block;
  position: relative;
  border-color: rgb(227, 227,227);
}
input{
  width:430px;
  height: 40px;
}
form button{
position: absolute;
background: transparent;
height: 40px;
border: none;
font-size: 25px;
color:rgb(227, 227,227);
right: 10px;
}
/* BURGER
---------------------------------------------------------------------- */
.burger{
display: none;
position: relative;
float: right;
width: 80px;
height: 40px;
margin-right: -70px;
    background: transparent;

}
.burger span{
display: block;
position: absolute;
top: 19px;
left: 8px;
right: 8px;
height: 3px;
background:  grey;

}
.burger span:before, .burger span:after{
content: "";
position: absolute;
display: block;
left: 0;
width: 100%;
height: 3px;
background: grey;

}
.burger span:before{
  top: -10px;
}
.burger span:after{
  bottom:-10px;
}


#mobile-menu{
  display: none;
}
#mobile-menu.active{
  max-height:320px;
}

/* shopping basket */
.shopping-basket .fa{
  margin-right: 20px;
  font-size: 34px;
  color: #3cc3b5;
}
span{
  font-size: 34px;
  font-family: 'Bebas Neue', cursive;
  color: rgb(161, 161,161);
}


/*  MEDIA QUERIES   for Header
----------------------------------------------------------------------   */
@media (max-width: 1040px){
  .logo{
    margin-left: 25px;
  font-size:40px;
  }
  input{
    width:415px;
    height: 40px;
  }
  .shopping-basket .fa{
    margin-right: 25px;
    font-size: 30px;
  }
  span{
    font-size: 30px;
  margin-right: 25px;
  }
}
@media(max-width:768px){
  .logo{
    margin-left: 40px;
    font-size:36px;
  }
  input{
    width:240px;
    margin-left: 54px;
  }

  span{
    font-size: 24px;
    margin-right: 30px;
  }
  .burger{
  display: block;
  margin-left: 50px;
  }
  #mobile-menu {
  display: block;
  max-height: 0;
  float: none;
  position: absolute;
  overflow: hidden;
  top: 60px;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
  transition: .3s ease-in-out;
  }
  #mobile-menu li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #EBEBE3;
  margin-right: 0;
  padding: 15px;
  background: white;
  }
  #mobile-menu li a{
    font-weight: bold;
    font-family: sans-serif;
    color: black;
  }
  .shopping-basket .fa, span{
    display: none;
  }
  }

@media(max-width:547px){
  input, form button{
    display: none;
  }
  .burger{
    margin-left: 190px;
  }
}
@media(max-width:425px){
  .burger{
    margin-left: 10px;
  }
}

@media (max-width:320px){
  header{
    height: 45px;
  }
  #mobile-menu {
    top: 45px;
  }

  .top-menu{
    padding: 0;
  }
  .logo{
    padding-top: 5px;
    padding-right: 15px;
    font-size: 25px;
  }
  input{
    width:150px;
    height: 20px;
  }
  button{
    height: 20px;
    font-size: 15px;
  }
  .burger{
  height: 30px;
  margin-left: 100px;
  }

}


/* main-menu
/* =================================================================== */
.main-menu{
  width:100%;
  height: 45px;
  background: #4ccfc1;
  border-bottom: 5px solid #38c8b6;
}

.menu li{
display: inline-block;
padding: 10px 20px;

}
.menu li a{
  position: relative;
  font-size: 21px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  color:white;
  display: block;
  line-height: 0.905;
  text-align: left;

}
.menu li a:after{
  position: absolute;
  content: "";
  width:2px;
  height: 19px;
  background: white;
  margin-left: 20px;
}
.menu li:last-child a:after{content:none;}


/*  MEDIA QUERIES   for main-menu
----------------------------------------------------------------------   */
@media (max-width: 1018px){
  .main-menu{
    text-align: center;
    height: 50px;
    line-height: 45px;
  }

  .menu li a{
    font-size: 18px;
}
.menu li a:after{
  height: 15px;

}
}
@media (max-width: 935px){
  .main-menu{
    text-align: center;
    height: 45px;
    line-height: 35px;
  }
  .menu li{
  display: inline-block;
  padding: 5px 10px;

  }
  .menu li{
  padding: 0 15px;
  }
  .menu li a{
    font-size: 17px;
}
.menu li a:after{
  height: 13px;
margin-left: 8px;
}
}
@media (max-width: 806px){
.menu li a{
    font-size: 15px;
}

}
@media (max-width: 768px){
  .main-menu{
  display: none;
  }
  .menu li{
  padding: 0 10px;
  }
  .menu li a{
    font-size: 15px;
}
.menu li a:after{
  height: 12px;
  margin-left: 10px;
}
}

@media(max-width:320px){
  .main-menu{
    display: none;
  }
}

/* banner
/* =================================================================== */
.banner {
  background: #3cc3b5;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
/* slider */
.slider{
  display: flex;
position: relative;
}

.slick-active {
  outline: none;
  border: none;
}
.slick-list {
  overflow: hidden;
}
.slick-track{
 display: flex;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
  position: absolute;
  left: 33%;
  bottom:7%;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
  font-size: 0;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
  outline: none;
  border:2px solid white;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
}
.slider__item {
display: flex;
}
 .slider__item_text{
  height: 310px;
  margin: 40px 0;
  margin-right: 200px;

}
.slider__content_img{
  margin: 40px;
  height:310px;
}
.slider__content_title{
  line-height: normal;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  color:#fff;
  font-weight: normal;
}

 .slider__content_text{
  font-size: 18px;
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-bottom: 30px;
}
 .btn{
  border:2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color:white;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 15px;
    line-height: 15px;
    font-size: 20px;

}


/*  MEDIA QUERIES   for Banner
----------------------------------------------------------------------*/
@media (max-width: 936px){
  .slider .slick-dots{

    left: 35%;
    bottom:10%;
  }
  .slider__content_title{
    font-size: 37px;
  }
   .slider__content_text{
    font-size: 15px;
    margin-bottom: 35px;
  }
   .btn{
      font-size: 18px;
  }
}
@media (max-width: 870px){
  .slider__item_text{
   height: 310px;
   margin: 40px 0;
   margin-right: 150px;

 }
  .slider .slick-dots{
    left: 38%;
  }
  .slider__content_title{
    font-size: 37px;
  }
   .slider__content_text{

    margin-bottom: 30px;
  }

}
@media (max-width: 798px){
  .slider .slick-dots{
    left: 41%;
  }
  .slider__content_title{
    font-size: 23px;
  }
   .slider__content_text{
  font-size: 15px;
    margin-bottom: 20px;
  }
  .btn{

     font-size: 15px;

  }
}
@media (max-width: 748px){
  .slider__content_img{
    margin: 30px;
    height:300px;
  }
  .slider .slick-dots{
    left: 41%;
  }
  .slider__content_title{

    font-size: 20px;
  }
   .slider__item_text{
     width:100%;
  font-size: 15px;
  margin-right: 30px;
    margin-bottom: 20px;
  }
  .btn{

     font-size: 15px;

  }
}
@media(max-width:550px){
  .slider__content_img{
    width:40%;
    height: 60%;
      margin: 40px 20px;
  }
  .slider__content_text{
 font-size: 13px;
 }
 .btn{
    font-size: 12px;
 }
 .slider .slick-dots{
  left:35%;
 }
}

@media(max-width:393px){
  .slider__content_img{
    width:45%;
    height: 47%;
    margin: 40px 8px;
  }
  .slider__content_text{
 font-size: 11px;
 }
 .btn{
    font-size: 12px;
 }
 .slider .slick-dots{
  left:37%;
  bottom:5%;
 }
}
@media(max-width:364px){
  .slider__content_img{
    width:37%;
    height: 45%;
    margin: 50px 8px;
  }
  .slider__content_text{
 font-size: 11px;
 }
 .btn{
    font-size: 12px;
 }
 .slider .slick-dots{
  left:27%;
  bottom:8%;
 }
}
@media(max-width:320px){
  .slider__content_img{
    width:50%;
    height: 50%;
  }
  .slider__content_text{
    width:100%;
    margin-right: 5px;
 font-size: 10px;
   margin-bottom: 20px;
 }

}



/* category
/* =================================================================== */
.category{
  width:100%;
  height: 180px;
  position: relative;
  background: white;
}

.multiple-items{
  display: flex;
  position: relative;
  padding: 0 200px;

}
.slick-active {
  outline: none;
}
 .multiple-items .slick-track{
  display: flex;
  height: 180px;
}

    .slider__item_goods{
   display: flex;
   border-right:1px solid silver;
    }
.slider__item_goods:last-child{border-right:none;}


   .slider__item_goods  img{
      width: 160px;
      height: 140px;
      margin: 5px;
    }

    .slider__item_goods h3{
      margin-top:50px;
      text-transform: uppercase;
      font-family: 'Bebas Neue', cursive;
      color:#afafaf;
    }

    .slider__item_goods .button{
  margin-top:110px;
  margin-left: -50px;
      width:60px;
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;
text-align: center;
      background: #3cc395;
      color:white;
      font-family: 'Bebas Neue', cursive;
      font-size: 18px;
      border-radius: 5px;

    }
    /* Arrow */
    .multiple-items .slick-arrow{
      position: absolute;
      top:40%;
      margin: 0 40px 30px 40px;
      z-index: 10;
      font-size: 0;
      width:50px;
      height: 60px;
      fill: #fff;
      outline: none;
      border:none;
    }

    /* Left Arrow */
    .multiple-items .slick-arrow.slick-prev{left:0;
    background: url('images/sl-arrow_l.svg') 0 0 / 100% no-repeat;

    }
    /* Right Arrow */
    .multiple-items .slick-arrow.slick-next{right:0;
    background: url('images/sl-arrow_r.svg') 0 0 / 100%  no-repeat;}


/*  MEDIA QUERIES   for category
----------------------------------------------------------------------   */
@media (max-width: 1115px){
  .multiple-items{
    padding: 0 150px;
  }
    .slider__item_goods  img{
       width: 120px;
       height: 100px;
       margin-top: 40px;
       margin-left: 35px;

     }
     .slider__item_goods h3{
     font-size: 17px;

     }
     .slider__item_goods .button{
       font-size: 13px;

     }

     /* Arrow */
     .multiple-items .slick-arrow{
       margin: 0 35px 10px 35px;
       width:35px;
       height: 35px;

     }
}
@media (max-width: 973px){
  .multiple-items{
    padding: 0 100px;
  }

}
@media (max-width: 879px){
  .multiple-items{
    padding: 0 80px;
  }
  .slider__item_goods  img{
     width: 100px;
     height:90px;
      margin: 45px 15px 0 40px;
   }
   .slider__item_goods h3{
   font-size: 15px;
   }
   .slider__item_goods .button{
     font-size: 11px;
   }

  .multiple-items .slick-arrow{
    margin: 0 15px 10px 15px;
  }
}
@media (max-width: 797px){
  .slider__item_goods  img{
      margin: 45px 15px 0 10px;
   }

}
@media (max-width: 768px){

  .multiple-items{
    padding: 0 100px;
  }
    .slider__item_goods  img{
       width: 80px;
       height: 80px;
       margin-top: 40px;
     }
     .slider__item_goods h3{
       margin-top:50px;
     font-size: 14px;
     }

     .slider__item_goods .button{
       width:45px;
       height: 25px;
       line-height: 25px;
       font-size: 15px;
       margin-left: -40px;
     }

     /* Arrow */
     .multiple-items .slick-arrow{

       margin: 0 35px 10px 35px;

       width:35px;
       height: 35px;

     }
}
@media (max-width:480px){
  .slick-list{
    width:100%;
  }
  .slider__item_goods{

    border-right:none;
  }
  .slider__item_goods  img{
     width: 160px;
     height: 140px;
     margin: 5px;
   }
}
@media (max-width:375px){
  .multiple-items{
    padding: 0 40px;
  }
    .slider__item_goods{
width:140px;
   border-right:none;
    }
    .slider__item_goods  img{
       width: 95px;
       height: 95px;
       margin-top: 40px;
       margin-left: 50px;
     }
}
@media (max-width:320px){
    .multiple-items{
      padding: 0 50px;
    }
      .slider__item_goods{
      width:150px;
     border-right:none;
      }
    .slider__item_goods  img{
       width: 100px;
       height: 100px;
       margin-top: 40px;
       margin-left: 30px;
     }
     .slider__item_goods h3{
       margin-top:50px;
     font-size: 14px;
     }

     .slider__item_goods .button{
       width:45px;
       height: 25px;
       line-height: 25px;
       font-size: 15px;
       margin-left: -40px;
     }

     /* Arrow */
     .multiple-items .slick-arrow{
       margin:  10px 10px 0 10px;
       width:35px;
       height: 35px;

     }
}



/* products
/* =================================================================== */
.products{
  width:100%;
  height:65px;
  line-height: 65px;
  background: #3cc3b5;
}
.products h2{
  font-family: 'Bebas Neue', cursive;
  color:white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 40px;
}

.product-container{
width:100%;
background: white;
}

.pc{
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block-1, .block-2, .block-3, .block-4, .block-5, .block-6{
  width: 268px;
  height: 265px;
  padding: 15px;
  margin: 35px;
  border:1px solid silver;
  border-bottom:5px solid #3cc395;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 70px;
}

.block-1 img{
  width: 189px;
  height: 126px;
  margin: 8px 25px;
}

.block-2 img{
  width: 116px;
  height: 116px;
  margin: 10px 60px;
}

.block-3 img{
  width: 105px;
  height: 118px;
    margin: 10px 60px;
}
.block-4 img{
  width: 175px;
  height: 131px;
  margin: 10px 25px;
}
.block-5 img{
  width: 140px;
  height: 126px;
  margin: 10px 50px;
}
.block-6 img {
  width: 66px;
  height: 119px;
  margin: 10px 80px;
}

.block-1 h3, .block-2 h3, .block-3 h3, .block-4 h3, .block-5 h3, .block-6 h3{
  position: relative;
  font-size: 27px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family:  'Bebas Neue', cursive;
  font-weight: 500;
  color: rgb(175, 175, 175);
  margin-left: 40px;
}

.block-1 span, .block-2 span, .block-3 span, .block-4 span, .block-5 span, .block-6  span{
  position: absolute;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  color: rgb(175, 175, 175);
  text-align: left;
  margin-top: 10px;
  margin-left: 45px;
  bottom: 25px;
}

 .block-1 button, .block-2 button, .block-3 button, .block-4 button, .block-5 button, .block-6 button{
  font-size: 18px;
  padding: 10px 0;
  font-family: 'Bebas Neue', cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(60, 195, 149);
  border: none;
  position: absolute;
  width: 80px;
  height: 34px;
  line-height: 1;
  bottom: 25px;
  margin-top: 10px;
  margin-left: 95px;
}

/* media for .block-1, .block-2,.block-3, .block-4, .block-5, .block-6 */
@media (min-width:1024px ) {
.block-1, .block-2,.block-3, .block-4, .block-5, .block-6{
		flex-basis: 25%;
	}
}
.block-4 img{
  margin-top: 2px;
}
@media (max-width:768px ) {
 .block-1 button, .block-2 button, .block-3 button, .block-4 button, .block-5 button, .block-6 button{
	margin-left: 75px;
	}

}
/* footer
/* =================================================================== */
footer{
  display: block;
  color:white;
  font-family: 'Open Sans', sans-serif;
  background: #3cc3b5;
}
.b1, .b2, .b3, .b4 {
  display: inline-block;
  line-height: 2;
  width: 125px;
  margin: 35px 60px;
}
.b1 h5, .b2 h5, .b3 h5, .b4 h5{
  text-transform: uppercase;
  font-size: 15px;
  font-family: "BebasNeue";
  font-weight: 600;
}
.b1 a, .b2 a, .b3 a, .b4 a{
  display: inline-block;
  color:white;
  font-size: 15px;
}

/*  MEDIA QUERIES   for footer
----------------------------------------------------------------------   */
@media(max-width:768px){
  .b1, .b2, .b3, .b4 {
    padding-left: 40px;
    width: 105px;
    margin: 35px 30px;
  }
  .b1 h5, .b2 h5, .b3 h5, .b4 h5,.b1 a, .b2 a, .b3 a, .b4 a {
    font-size: 10px;
  }
}
@media(max-width:320px){
footer  .container{
    margin-left: -10px;
  }
  .blocks{
    column-count: 2;
  }
  .b1, .b2, .b3, .b4 {
    width: 115px;
  }
  .b1 a, .b2 a, .b3 a, .b4 a,.b1 h5, .b2 h5, .b3 h5, .b4 h5{
    font-size: 10px;
    text-align: center;
    width:115px;
    margin-left: -40px;
  }
}


/*  bottom-footer
----------------------------------------------------------------------   */
.bottom-footer{
  width:100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #2da89b;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 35px;
}
